/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font);
  background-image: var(--page-background);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--card-text-weight) 400;
}


/* header */
.header {
  display: flex;
  justify-content: center;
}

.header__wrapper {
  margin: 100px 0;
  border: 2px solid var(--text-color, #000);
  color: var(--text-color, #000);
  font-family: var(--accent-font);
  text-align: center;
  background-color: var(--bg-color, #fff);
  max-inline-size: 43.75rem;
  inline-size: 100%;
  block-size: clamp(20.438rem, 19.705rem + 3.661vi, 23rem);
}

.header__title {
  padding-top: clamp(7.5rem, 7rem + 1.6vi, 8rem);
  font-size: clamp(3.063rem, 2.063rem + 3.2vi, 4.063rem);
  text-transform: uppercase;
}

.header__subtitle {
  padding-top: 20px;
  font-size: clamp(0.875rem, 0.313rem + 1.8vi, 1.438rem);
  text-transform: uppercase;
}


/* posts */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 53px;
  padding-bottom: 103px;
}

.cards__list {
  display: grid;
  gap: 51px;
}

.card {
  border: 2px solid var(--text-color, #000);
}

.card__item {
  background-color: var(--bg-color, #fff);
  max-inline-size: 696px;
}

.card__title {
  border-bottom: 2px solid var(--text-color, #000);
  padding: 5px 10px;
  font-size: 18px;
  line-height: 21.78px;
  font-variation-settings: "wght" var(--card-title-weight);
}

.image__wrapper {
  position: relative;
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
  inline-size: 100%;
}

.label__text {
  position: absolute;
  top: 25px;
  right: 25px;
  color: var(--text-color, #000);
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow: -1px 0 var(--bg-color, #ffffff),
    0 1px var(--bg-color, #ffffff),
    1px 0 var(--bg-color, #ffffff),
    0 -1px var(--bg-color, #ffffff);
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports (text-stroke: 1px var(--bg-color, #ffffff)) or
  (-webkit-text-stroke: 1px var(--bg-color, #ffffff)) {
  .label_text {
    text-shadow: none;
    text-stoke: 1px var(--bg-color, #ffffff);
    -webkit-text-stroke: 1px var(--bg-color, #ffffff);
  }
}

.card__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 27px;
  border-top: 2px solid var(--text-color, #000);
  padding: 25px;
  margin-top: 0;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
}

.image-cow {
  filter: saturate(3) hue-rotate(40deg);
}

.image-black-dog {
  
  filter: contrast(1.6) saturate(0.9) brightness(1.05) hue-rotate(320deg);
}

.image-horse {
  filter: invert(0.8) contrast(1.8) brightness(0.7) saturate(1.4);
}

.image-cat {
  
  filter: saturate(1.8) brightness(1.5);
}

.image-dog {
  filter: brightness(1.7) sepia(0.3) hue-rotate(350deg) contrast(1.05);
}

.image-ad {
  filter: invert(0.2) contrast(100) brightness(0.8);
}

.image-oguzok {
  filter: blur(0.8px) saturate(1.3) hue-rotate(20deg) contrast(0.8) brightness(1.4);
}

.image-dirt {
  filter: blur(0.8px) saturate(0.8) brightness(0.8) contrast(1.2);
}

.card__buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 5px;
  padding: 0 25px 25px 0;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  background-color: inherit;
  cursor: pointer;
  block-size: 36px;
}

.card__like-button {
  padding: 8px 0px;
  inline-size: 130px;
}


/* buttons */
.button__text {
  position: relative;

  color: var(--bg-color, #fff);

  mix-blend-mode: difference;
}

.button__popup-open {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 14px 20px;
  font-size: 14px;
  line-height: 12.6px;
}

.button__icon {
  position: relative;

  flex-shrink: 0;

  width: 28px;
  height: 28px;

  transition: color 0.5s ease-in-out;

  color: var(--bg-color, #fff);
  mix-blend-mode: difference;
}

.icon-floppy {
  color: var(--bg-color, #fff);
  mix-blend-mode: difference;
}

.popup::backdrop {
  opacity: 0.75;
  background-color: var(--text-color, #000000);
}

.popup[open] {
  display: flex;
}

.popup {
  flex-direction: column;
  gap: 30px;
  padding: 30px 27px;
  inline-size: clamp(21.313rem, 21.098rem + 1.071vi, 22.063rem);
}

.popup__text-open {
  display: flex;
  align-items: center;
  gap: 20px;
}

.floppy {
  flex-shrink: 0;
}

.icon-floppy {
  color: var(--bg-color, #ffffff);
  mix-blend-mode: difference;
}

.text__popup {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.button__popup-close {
  padding: 10px 0;
  font-size: 14px;
  text-transform: uppercase;
}


.button {
  position: relative;
  border: 2px solid var(--text-color, #000000);
  overflow: hidden;
  font-family: var(--accent-font);
  background-color: var(--bg-color, #ffffff);
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--text-color, #000000);
  transition: 0.5s ease-in-out;
  transform: translateX(-100%);
  inline-size: 100%;
  block-size: 100%;
}

.button:hover::before {
  background-color: #000000;
  transition: 0.5s ease-in-out;
  transform: translateX(0%);
}


@media (width <= 375px) {
  .header-mobile {
    inline-size: 100%;
  }

  .card__item {
    inline-size: 100%;
  }

  .button__popup-open {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .icon-floppy {
    inline-size: 28px;
    block-size: 28px;
  }

  .label__text {
    top: 19px;
    right: 10px;
  }
}
