/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "inter-Variable", sans-serif;
  --accent-font: "PresStart2P", sans-serif;
  --card-title-weight: 700;
  --card-text-weight: 400;
  --text-color: #000000;
  --bg-color: #FFFFFF;
  --contour-color: #000000;
  --animation-fill-color: #FF0000;
  --heart-contour: #000000;
  --heart-sparks: #FF0000;
  --page-background: repeating-linear-gradient(to right, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
  repeating-linear-gradient(to bottom, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px ),
  linear-gradient(to bottom, #e7e7e7, #1a1a1a);
}
